{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
    {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
    {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
    {% do assets.addCss('theme://css-compiled/theme'~compress) %}
    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('theme://css/line-awesome.min.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <div id="page-wrapper">

    {% block header deferred %}
        <section id="header" class="section">
          <section class="navbar-section-black">
          </section>
            <section class="container {{ grid_size }}">
                <nav class="navbar">

                    <section class="navbar-section logo">
                        {% include 'partials/logo.html.twig' %}
                    </section>
                </nav>
            </section>
        </section>
    {% endblock %}


    {% set data = flex_entries.getData().toArray()|sort_by_key('numero') %}
    {% set data2 = curiosity_requested %}
<div class="content-curiosity-list">
  <section id="body-wrapper" class="section home-link">
    <section class="container grid-lg">
      <div id="flex-directory">
          <div class="text-center">
              <h5><a href="{{ base_url }}">Entrez un numéro de curiosité</a></h5>
          </div>
      </div>
    </section>
  </section>

      <ul class="list">
          {% for entry in data %}
              <li>
                <a href="{{ base_url }}/curiosity?id={{ entry.numero }}">
                  <div class="entry-details">
                    {% if (entry.image_cover) %}
                      <div class="entry-extra">
                        <p>
                          <img src="{{ base_url_absolute ~ "/" ~ entry.image_cover|keys|first }}" class="list-picture" />
                        </p>
                      </div>
                    {% endif %}
                    <p class="numero" >
                       Curiosité № {{ entry.numero }}
                    </p>
                    <p class="knowmore title-field">
                        {{ entry.title }}
                    </p>

                  </div>
                </a>
              </li>
          {% endfor %}
      </ul>
    </div>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include 'partials/logo.html.twig' with {mobile: true} %}
            </div>
            <nav class="overlay-menu">
                {% include 'partials/navigation.html.twig' with {tree: true} %}
            </nav>
        </div>
    </div>

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
