{% set data = flex_entries.getData().toArray()|sort_by_key('numero') %}
{% set data2 = curiosity_requested %}

<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>

<div id="flex-directory">
    <div class="text-center">
        <h5>Découvrez les autres curiosités !</h5>
    </div>
      <ul class="list">
        {% for entry in data %}
            <li>
                <div class="entry-details">
                  <p class="numero" style="float:left">
                     {{ entry.numero }}
                  </p>
                  <p class="knowmore" style="float:right">
                     <a href="?curiosity={{ entry.numero }}">En savoir plus</a>
                  </p>
                  <p class="title" style="clear:both">
                     {{ entry.title }}
                  </p>
                </div>
                {% if (entry.image_cover) %}
                  <div class="entry-extra">
                    <p>
                      <img src="{{ base_url_absolute ~ "/" ~ entry.image_cover|keys|first }}" class="list-picture" />
                    </p>
                  </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>


<script src="{{ theme_url }}/js/demo.js"></script>
<script src="{{ theme_url }}/js/three.min.js"></script>
<script src="{{ theme_url }}/js/perlin.js"></script>
<script src="{{ theme_url }}/js/TweenMax.min.js"></script>
<script src="{{ theme_url }}/js/demo3.js"></script>
