{% if config.plugins.admin.logo_text %}
    <h1 class="text-logo">
        {{ config.plugins.admin.logo_text }}
    </h1>
{% else %}
    <h1 class="{{ custom_login_logo ? 'custom-logo' : 'default-logo' }}">
        {{ title }}
        {% if custom_login_logo %}
            <img src="{{ url(custom_login_logo) }}" title="Login" />
        {% else %}
            <img src="{{ base_url_absolute }}/user/themes/quark/images/thecampFOW_white.png" title="Login" />
        {% endif %}
    </h1>
{% endif %}
